@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --cpdblue: #004ED8;
  --cplblue: #00A4FF;
  --cpfucsia: #FF0080;
  --cporange: #FF8B00;
  --cngray: #1A1A1A;
  --cpthumbh: #3e5ee5;
  --cpthumbm: #ff3bd1;
  --cpbarfill: #5fff00;
  --cpbarback: var(--cplblue);
  --cpbarborder: #ffe000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-futura);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-futura);
}


.scrollbar-custom {
  scrollbar-width: auto;
  scrollbar-color: var(--cpdblue) #ffffff;
}